In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import json
from pandas import json_normalize

In [2]:
cookies = {
    'AWSALBCORS': 'QoU/w/z6v3BPQOHKBAsWpfrnrEP1QAr5WVkdCkRadsmiZ9QPlTjdJSF0n4YU3CjIhUe2P4zYzAlVqTENCSq5FE1BIISX4n8vrM+km4Ax+7mghBdKqi6ozK0fV3Oh',
}

headers = {
    'authority': 'ra.pei.blaize.io',
    'accept': '*/*',
    'accept-language': 'en-US,en;q=0.9',
    'blaize_session': 'd5e88d55-9231-43cf-a467-60b591eb3e25',
    # 'cookie': 'AWSALBCORS=QoU/w/z6v3BPQOHKBAsWpfrnrEP1QAr5WVkdCkRadsmiZ9QPlTjdJSF0n4YU3CjIhUe2P4zYzAlVqTENCSq5FE1BIISX4n8vrM+km4Ax+7mghBdKqi6ozK0fV3Oh',
    'origin': 'https://www.buyoutsinsider.com',
    'referer': 'https://www.buyoutsinsider.com/',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="100", "Google Chrome";v="100"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"macOS"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'cross-site',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36',
    'x-pei-asset-classes': '1,4,7,8',
}

In [3]:
df = pd.read_csv('buyouts_lp_csv/buyouts_lp_orig.csv')
LP_ID = df['ID'].to_list()
print(len(LP_ID))

4146

In [4]:
df1 = pd.DataFrame(columns =['lp_id'])

In [5]:
for i in LP_ID:
    first_part = ('https://ra.pei.blaize.io/api/v2/buyouts/institutions/')
    url = (first_part + str(i) + "/investments")
    r = requests.get(url, timeout=(10,200), headers=headers, cookies=cookies)
    s = bs(r.content, 'lxml')
    txt = s.get_text()
    if not txt:
        print("no data in " + str(i))
        continue
    df1 = df1.append({'lp_id':i}, ignore_index=True)
    dict2 = json.loads(txt)
    df1 = df1.append(pd.json_normalize(dict2['data']),ignore_index=True)
    print(str(i) + " done")

3 done
4 done
5 done
8 done
9 done
10 done
14 done
15 done
16 done
18 done
19 done
20 done
23 done
24 done
25 done
26 done
27 done
28 done
30 done
31 done
32 done
33 done
34 done
35 done
37 done
38 done
40 done
41 done
42 done
no data in 45
no data in 48
50 done
54 done
55 done
59 done
60 done
62 done
no data in 64
65 done
66 done
67 done
68 done
71 done
72 done
73 done
74 done
no data in 75
76 done
no data in 78
81 done
82 done
83 done
84 done
85 done
86 done
87 done
89 done
90 done
91 done
92 done
93 done
94 done
95 done
96 done
no data in 97
98 done
99 done
100 done
101 done
107 done
110 done
111 done
112 done
113 done
114 done
115 done
116 done
117 done
118 done
119 done
121 done
122 done
124 done
127 done
128 done
129 done
130 done
131 done
132 done
133 done
135 done
136 done
137 done
139 done
143 done
145 done
no data in 146
147 done
148 done
150 done
152 done
153 done
154 done
155 done
157 done
158 done
160 done
161 done
162 done
no data in 164
165 done
166 done
167 done
168 done
170 done
172 done
174 done
175 done
177 done
178 done
179 done
180 done
182 done
no data in 184
186 done
188 done
189 done
190 done
191 done
193 done
194 done
196 done
198 done
199 done
201 done
202 done
203 done
205 done
206 done
207 done
208 done
209 done
210 done
212 done
213 done
215 done
216 done
217 done
218 done
219 done
220 done
221 done
223 done
224 done
226 done
227 done
229 done
no data in 232
233 done
234 done
236 done
237 done
238 done
239 done
240 done
241 done
243 done
244 done
245 done
249 done
250 done
251 done
253 done
255 done
257 done
258 done
262 done
263 done
265 done
266 done
267 done
268 done
270 done
271 done
272 done
273 done
274 done
275 done
276 done
282 done
283 done
284 done
285 done
286 done
287 done
288 done
289 done
290 done
291 done
293 done
294 done
295 done
296 done
297 done
300 done
302 done
303 done
304 done
305 done
306 done
307 done
309 done
311 done
314 done
315 done
316 done
318 done
320 done
321 done
322 done
323 done
324 done
325 done
327 done
328 done
329 done
330 done
331 done
336 done
337 done
338 done
340 done
341 done
no data in 343
344 done
347 done
349 done
350 done
351 done
352 done
354 done
355 done
356 done
357 done
359 done
362 done
364 done
366 done
368 done
369 done
370 done
371 done
372 done
373 done
374 done
375 done
377 done
379 done
381 done
383 done
384 done
386 done
387 done
388 done
389 done
390 done
392 done
394 done
396 done
397 done
399 done
401 done
403 done
404 done
405 done
408 done
409 done
410 done
414 done
415 done
416 done
417 done
418 done
420 done
no data in 422
423 done
426 done
427 done
no data in 428
429 done
432 done
433 done
434 done
436 done
437 done
441 done
443 done
no data in 445
449 done
450 done
451 done
452 done
453 done
454 done
455 done
456 done
457 done
458 done
460 done
461 done
463 done
465 done
466 done
467 done
469 done
470 done
471 done
472 done
474 done
475 done
476 done
477 done
478 done
480 done
481 done
482 done
483 done
484 done
486 done
487 done
489 done
490 done
492 done
495 done
497 done
498 done
499 done
500 done
502 done
504 done
506 done
507 done
508 done
509 done
510 done
511 done
512 done
513 done
514 done
515 done
516 done
517 done
518 done
519 done
520 done
521 done
522 done
523 done
524 done
525 done
526 done
527 done
528 done
530 done
531 done
no data in 532
533 done
535 done
536 done
537 done
538 done
539 done
540 done
no data in 541
542 done
543 done
544 done
545 done
546 done
548 done
549 done
550 done
552 done
553 done
no data in 554
556 done
559 done
560 done
561 done
562 done
563 done
564 done
566 done
567 done
568 done
569 done
572 done
573 done
578 done
581 done
584 done
586 done
587 done
588 done
589 done
591 done
592 done
593 done
594 done
596 done
597 done
598 done
599 done
600 done
603 done
604 done
607 done
609 done
610 done
611 done
612 done
617 done
619 done
no data in 620
625 done
no data in 627
no data in 630
631 done
632 done
633 done
634 done
636 done
639 done
640 done
641 done
no data in 644
645 done
646 done
647 done
648 done
653 done
654 done
655 done
656 done
657 done
no data in 663
664 done
no data in 667
669 done
670 done
671 done
673 done
674 done
675 done
676 done
677 done
681 done
683 done
no data in 686
687 done
688 done
no data in 689
691 done
692 done
693 done
694 done
695 done
698 done
700 done
no data in 701
no data in 702
706 done
707 done
708 done
709 done
711 done
714 done
no data in 715
716 done
717 done
719 done
720 done
721 done
722 done
723 done
no data in 724
725 done
726 done
727 done
728 done
732 done
no data in 733
no data in 734
735 done
739 done
740 done
741 done
no data in 742
745 done
747 done
751 done
752 done
754 done
758 done
761 done
763 done
no data in 764
766 done
770 done
771 done
772 done
773 done
no data in 774
775 done
no data in 776
778 done
779 done
780 done
781 done
782 done
783 done
784 done
no data in 785
789 done
790 done
791 done
794 done
795 done
no data in 796
797 done
798 done
799 done
800 done
801 done
802 done
804 done
806 done
no data in 808
809 done
810 done
813 done
814 done
815 done
817 done
820 done
822 done
823 done
826 done
828 done
829 done
832 done
833 done
839 done
no data in 846
850 done
851 done
852 done
854 done
861 done
867 done
868 done
876 done
no data in 880
885 done
886 done
888 done
889 done
892 done
893 done
901 done
902 done
903 done
911 done
914 done
915 done
no data in 916
921 done
927 done
928 done
929 done
933 done
935 done
939 done
941 done
no data in 942
944 done
946 done
950 done
954 done
959 done
965 done
975 done
978 done
979 done
987 done
996 done
no data in 997
1004 done
1005 done
1008 done
1013 done
1015 done
1018 done
1020 done
1022 done
no data in 1025
1033 done
1034 done
1039 done
1040 done
1041 done
1043 done
1045 done
1046 done
1049 done
1053 done
1056 done
1057 done
1065 done
1067 done
1071 done
1075 done
1079 done
no data in 1082
1084 done
1086 done
1088 done
1089 done
1097 done
1100 done
1101 done
no data in 1102
1103 done
1106 done
1107 done
1109 done
1116 done
1117 done
1118 done
no data in 1124
1128 done
1130 done
1137 done
1139 done
1145 done
1148 done
1150 done
1151 done
1155 done
1160 done
1162 done
1172 done
1173 done
1176 done
1177 done
1181 done
1183 done
1192 done
1194 done
no data in 1196
1197 done
1198 done
1202 done
1203 done
1211 done
1217 done
1218 done
1220 done
1221 done
1223 done
1228 done
1236 done
1239 done
1241 done
1245 done
1247 done
1248 done
1250 done
1255 done
1260 done
1261 done
1262 done
1264 done
1273 done
1277 done
1284 done
1286 done
1290 done
1292 done
1299 done
1301 done
1307 done
1308 done
1315 done
no data in 1317
1318 done
1323 done
1324 done
1325 done
1326 done
1327 done
1328 done
1329 done
1330 done
1331 done
1333 done
1335 done
1340 done
1349 done
1355 done
1357 done
no data in 1358
no data in 1359
1361 done
no data in 1362
1366 done
1371 done
1372 done
1375 done
1376 done
1379 done
1382 done
no data in 1386
1389 done
1392 done
1393 done
1399 done
1402 done
1405 done
1409 done
1410 done
1414 done
1417 done
1422 done
1427 done
1433 done
1435 done
1438 done
1441 done
1447 done
1451 done
1461 done
1462 done
1466 done
1468 done
1470 done
1471 done
1472 done
1473 done
1474 done
1476 done
1478 done
no data in 1479
1480 done
1481 done
1483 done
1487 done
1488 done
1491 done
1492 done
1493 done
1494 done
1495 done
1497 done
1498 done
1499 done
1500 done
1507 done
1509 done
1510 done
1511 done
1512 done
1513 done
1514 done
1515 done
1516 done
1517 done
1518 done
1519 done
1520 done
1521 done
1522 done
1523 done
1524 done
1525 done
1527 done
1528 done
1529 done
1530 done
1531 done
1533 done
1534 done
1535 done
1538 done
1540 done
1541 done
1542 done
1544 done
1548 done
1549 done
1551 done
1555 done
1556 done
1559 done
1561 done
1562 done
1569 done
1572 done
1573 done
1574 done
1579 done
1582 done
1586 done
1587 done
1588 done
1595 done
1596 done
1597 done
1598 done
1600 done
1603 done
no data in 1607
1610 done
1615 done
1618 done
1623 done
1625 done
no data in 1626
1628 done
1633 done
1635 done
1640 done
1649 done
1650 done
1651 done
1655 done
1657 done
1658 done
1663 done
1665 done
no data in 1671
1672 done
1675 done
1676 done
1678 done
1679 done
1683 done
1687 done
1688 done
1690 done
1695 done
1697 done

1698 done
1699 done
no data in 1702
1706 done
no data in 1708
1709 done
1710 done
no data in 1713
1716 done
1718 done
1721 done
1722 done
1723 done
1724 done
1725 done
1726 done
1727 done
1728 done
1729 done
no data in 1732
1733 done
1734 done
1735 done
1736 done
1737 done
1738 done
1739 done
1742 done
1745 done
1747 done
1748 done
1751 done
1752 done
1754 done
1757 done
1758 done
1761 done
1762 done
1764 done
1767 done
1768 done
1770 done
1777 done
1779 done
1780 done
1782 done
1784 done
1786 done
1791 done
1796 done
1798 done
1799 done
1800 done
1801 done
1802 done
1806 done
1807 done
1809 done
1811 done
1814 done
1816 done
1818 done
1819 done
1821 done
1822 done
1824 done
1827 done
1830 done
1831 done
1832 done
1837 done
1839 done
1840 done
1841 done
1844 done
1846 done
1847 done
1848 done
1849 done
1851 done
1854 done
1855 done
1857 done
1864 done
1866 done
no data in 1867
1868 done
1869 done
1870 done
1873 done
1874 done
1875 done
1876 done
1877 done
1878 done
1879 done
1880 done
1881 done
1882 done
1884 done
1885 done
1886 done
1888 done
1889 done
1891 done
1892 done
1894 done
1895 done
no data in 1897
1899 done
1900 done
1903 done
1905 done
1907 done
1908 done
1911 done
1913 done
1914 done
1915 done
1917 done
1919 done
1920 done
1921 done
1923 done
1924 done
1925 done
1926 done
1929 done
1930 done
1933 done
1934 done
no data in 1935
1936 done
1939 done
1940 done
1941 done
1943 done
1946 done
1947 done
1952 done
1958 done
1959 done
1961 done
1962 done
1966 done
1968 done
1970 done
1971 done
1972 done
1974 done
1978 done
1985 done
1986 done
1988 done
1992 done
1995 done
2000 done
2002 done
2005 done
2011 done
2015 done
2017 done
2019 done
2020 done
2021 done
2025 done
2026 done
2027 done
2029 done
2030 done
2031 done
no data in 2034
2037 done
2041 done
2042 done
2043 done
2044 done
2045 done
2046 done
2048 done
2049 done
2050 done
2053 done
2055 done
2056 done
2060 done
2061 done
2062 done
no data in 2063
2064 done
no data in 2065
no data in 2069
2070 done
2071 done
2072 done
2074 done
2076 done
2077 done
2078 done
2079 done
2080 done
2081 done
2082 done
2083 done
2084 done
2087 done
2088 done
2089 done
2093 done
2094 done
2095 done
2097 done
2098 done
2101 done
2103 done
2104 done
2105 done
2106 done
2110 done
2113 done
2118 done
2131 done
2132 done
2135 done
2136 done
2140 done
2145 done
2146 done
no data in 2148
2149 done
2150 done
2151 done
2152 done
2154 done
2157 done
2161 done
2164 done
2167 done
2170 done
2171 done
2175 done
2176 done
2177 done
2180 done
2187 done
2189 done
2190 done
2192 done
2193 done
2194 done
2200 done
2201 done
2204 done
2206 done
2207 done
2210 done
no data in 2211
no data in 2213
no data in 2215
2220 done
no data in 2221
2224 done
2228 done
2235 done
2237 done
2238 done
no data in 2239
2240 done
2242 done
2243 done
2244 done
2245 done
2246 done
2247 done
2248 done
2249 done
2252 done
2253 done
2254 done
2255 done
2259 done
2261 done
2263 done
2264 done
2265 done
2272 done
2274 done
2275 done
2276 done
2279 done
no data in 2280
no data in 2281
2282 done
2283 done
2284 done
2287 done
no data in 2292
2295 done
2296 done
2297 done
2298 done
2299 done
no data in 2300
2302 done
2308 done
2309 done
2310 done
no data in 2311
2312 done
2314 done
2316 done
2317 done
2318 done
2319 done
2324 done
2325 done
2326 done
2327 done
2329 done
2331 done
2333 done
2334 done
2338 done
2339 done
2340 done
2342 done
2344 done
2345 done
no data in 2346
2347 done
2351 done
2352 done
2353 done
2356 done
2358 done
2360 done
2362 done
2364 done
2370 done
2377 done
2394 done
2396 done
2398 done
2399 done
no data in 2401
2402 done
2403 done
2409 done
2414 done
2416 done
2423 done
2424 done
2430 done
2431 done
2434 done
2439 done
2445 done
2449 done
2453 done
2457 done
2458 done
2464 done
2465 done
2469 done
2472 done
2475 done
2477 done
2479 done
2480 done
2481 done
2485 done
2489 done
2491 done
2495 done
2496 done
2497 done
2498 done
2501 done
2502 done
2503 done
2504 done
2507 done
2510 done
2512 done
2513 done
no data in 2515
2518 done
2519 done
2522 done
2524 done
2528 done
2532 done
2533 done
no data in 2535
2536 done
2539 done
2540 done
2544 done
no data in 2546
no data in 2547
no data in 2548
2549 done
no data in 2551
2552 done
2553 done
no data in 2555
2558 done
2561 done
2563 done
2568 done
2569 done
2570 done
2571 done
2572 done
2573 done
2574 done
2575 done
2576 done
2577 done
no data in 2578
no data in 2579
2582 done
no data in 2583
2585 done
2586 done
2588 done
2590 done
2596 done
2597 done
2599 done
2600 done
2603 done
2604 done
2607 done
2610 done
2614 done
2615 done
2616 done
2623 done
2625 done
2630 done
2631 done
2632 done
2638 done
2648 done
2651 done
2654 done
2655 done
2656 done
2661 done
2663 done
2668 done
2669 done
2675 done
2676 done
2687 done
2690 done
2691 done
2695 done
2696 done
2704 done
2705 done
no data in 2709
no data in 2712
no data in 2714
2719 done
2735 done
2737 done
2738 done
2750 done
no data in 2751
no data in 2754
2755 done
no data in 2768
2770 done
2778 done
no data in 2780
2781 done
2786 done
2787 done
2788 done
2790 done
2791 done
2794 done
2796 done
2797 done
2800 done
2801 done
2802 done
2804 done
2806 done
2807 done
2808 done
2809 done
2811 done
2817 done
2818 done
2819 done
2820 done
2823 done
2827 done
2829 done
2831 done
no data in 2833
2835 done
2838 done
no data in 2839
2841 done
2842 done
2844 done
2845 done
2847 done
2848 done
no data in 2851
2852 done
no data in 2853
2854 done
2855 done
2857 done
no data in 2861
no data in 2862
2863 done
2864 done
2865 done
2866 done
2869 done
2870 done
2872 done
2873 done
2874 done
2875 done
2876 done
2877 done
no data in 2879
no data in 2880
2884 done
2887 done
2889 done
2890 done
2894 done
2898 done
no data in 2901
no data in 2903
2905 done
no data in 2906
2907 done
2912 done
no data in 2915
2916 done
2921 done
no data in 2925
2926 done
2932 done
2934 done
2942 done
2949 done
2951 done
2965 done
2974 done
2977 done
2978 done
2987 done
2994 done
2995 done
no data in 3004
3005 done
3007 done
3017 done
3018 done
no data in 3030
no data in 3034
3038 done
3049 done
3052 done
3065 done
3068 done
3070 done
no data in 3073
3075 done
3079 done
3083 done
3087 done
no data in 3098
no data in 3102
3103 done
3104 done
3105 done
3114 done
3119 done
3121 done
3122 done
3123 done
3124 done
3129 done
3131 done
3142 done
3145 done
3147 done
no data in 3155
no data in 3156
3160 done
3163 done
3165 done
3167 done
3169 done
3170 done
3173 done
3176 done
3181 done
3183 done
3188 done
3195 done
3196 done
3197 done
3205 done
3208 done
no data in 3211
3212 done
3213 done
3215 done
3216 done
3220 done
3221 done
no data in 3222
no data in 3224
3231 done
3234 done
3235 done
3238 done
3244 done
3245 done
3246 done
no data in 3247
no data in 3251
3254 done
3255 done
3265 done
3273 done
3276 done
3286 done
3290 done
3292 done
3293 done
3294 done
3295 done
3296 done
3297 done
3298 done
3299 done
3300 done
3301 done
3302 done
3305 done
3307 done
3308 done
3311 done
3312 done
3313 done
3316 done
3318 done
3329 done
3335 done
3337 done
3339 done
no data in 3344
3347 done
3355 done
3357 done
3358 done
3362 done
3365 done
3367 done
3368 done
no data in 3371
3375 done
3377 done
no data in 3378
3379 done
3380 done
3381 done
3384 done
no data in 3388
3390 done
3391 done
no data in 3394
3395 done
no data in 3397
3399 done
3400 done
no data in 3406
no data in 3411
3412 done
3413 done
3414 done
3416 done
no data in 3417
no data in 3420
no data in 3422
no data in 3423
no data in 3424
no data in 3428
3430 done
no data in 3431
no data in 3433
no data in 3435
3438 done
no data in 3439
no data in 3440
no data in 3444
3445 done
no data in 3446
no data in 3447
no data in 3451
3453 done
no data in 3457
no data in 3458
no data in 3460
3465 done
no data in 3468
no data in 3469
no data in 3471
3475 done
3477 done
no data in 3478
no data in 3479
no data in 3480
no data in 3485
no data in 3486
3487 done
3488 done
no data in 3490
no data in 3493
no data in 3494
3497 done
3499 done
3500 done
3501 done
no data in 3503
no data in 3504
no data in 3505
no data in 3506
3507 done
3508 done
3509 done
3510 done
no data in 3513
no data in 3517
no data in 3522
3525 done
3528 done
3531 done
3533 done
3534 done

3535 done
no data in 3537
no data in 3538
no data in 3539
no data in 3541
no data in 3542
no data in 3545
no data in 3559
3560 done
3565 done
3568 done
no data in 3570
no data in 3571
3576 done
no data in 3577
3579 done
no data in 3584
3588 done
3589 done
no data in 3590
no data in 3594
no data in 3595
no data in 3600
3604 done
no data in 3612
3613 done
3616 done
no data in 3618
3619 done
no data in 3622
3625 done
no data in 3628
no data in 3631
3637 done
3638 done
3639 done
3641 done
3647 done
3652 done
no data in 3653
no data in 3654
3656 done
3659 done
3662 done
3664 done
3665 done
3667 done
3668 done
no data in 3670
3671 done
3672 done
3676 done
no data in 3677
3679 done
no data in 3681
3682 done
3683 done
no data in 3685
3687 done
3691 done
no data in 3693
no data in 3701
3704 done
3705 done
3709 done
3711 done
3712 done
3714 done
3715 done
3718 done
no data in 3719
3722 done
3724 done
3727 done
3729 done
3730 done
3733 done
3735 done
3743 done
3745 done
3746 done
3747 done
no data in 3748
3750 done
3751 done
no data in 3754
3755 done
3756 done
3759 done
3760 done
no data in 3761
3762 done
3763 done
3767 done
3775 done
3778 done
no data in 3779
3780 done
3781 done
3783 done
3786 done
no data in 3787
3788 done
3789 done
3790 done
3792 done
3793 done
3794 done
3799 done
3801 done
3805 done
no data in 3806
3808 done
3811 done
3812 done
3814 done
3816 done
3817 done
3818 done
3819 done
3820 done
3822 done
no data in 3824
3825 done
3826 done
3828 done
3829 done
3831 done
3832 done
3833 done
3837 done
3839 done
3842 done
3843 done
no data in 3845
3847 done
3851 done
3852 done
3853 done
3854 done
3858 done
3861 done
3863 done
3866 done
3867 done
3868 done
3869 done
3870 done
3871 done
3874 done
3876 done
3877 done
no data in 3879
3880 done
3881 done
3883 done
3884 done
no data in 3885
3886 done
3889 done
3890 done
3891 done
3892 done
3893 done
3894 done
3896 done
3897 done
3898 done
3899 done
3900 done
3901 done
3902 done
3904 done
3905 done
3906 done
3907 done
3910 done
3911 done
3912 done
3913 done
no data in 3915
3916 done
3918 done
no data in 3919
3923 done
3924 done
3925 done
3929 done
3932 done
3933 done
3934 done
3935 done
3936 done
3937 done
3938 done
3940 done
no data in 3944
no data in 3945
3948 done
3949 done
no data in 3951
3953 done
3954 done
3955 done
3956 done
3958 done
3959 done
3960 done
3961 done
3962 done
3963 done
3965 done
3966 done
3968 done
3969 done
3972 done
3973 done
3974 done
3975 done
3976 done
3977 done
3978 done
3985 done
3988 done
3989 done
3991 done
3992 done
3994 done
3996 done
3998 done
3999 done
4002 done
4005 done
4008 done
4010 done
4011 done
no data in 4012
4013 done
4018 done
4019 done
4020 done
4024 done
no data in 4028
4036 done
4037 done
4038 done
4040 done
4042 done
4044 done
no data in 4046
4048 done
4053 done
4055 done
4056 done
4059 done
4060 done
4061 done
no data in 4062
4063 done
4064 done
no data in 4065
4068 done
4072 done
no data in 4073
4074 done
4075 done
4076 done
4078 done
4082 done
4089 done
4091 done
4095 done
4098 done
4099 done
4101 done
4102 done
4103 done
no data in 4106
4107 done
4108 done
4112 done
4114 done
no data in 4117
4121 done
4123 done
4124 done
4126 done
4127 done
4129 done
no data in 4130
no data in 4132
4133 done
no data in 4136
4137 done
no data in 4139
4140 done
4142 done
4144 done
4146 done
4147 done
4148 done
4150 done
4152 done
4153 done
no data in 4156
4157 done
4158 done
no data in 4161
4164 done
4166 done
4167 done
4168 done
4169 done
4170 done
4174 done
no data in 4175
4177 done
no data in 4178
4179 done
no data in 4180
4181 done
4182 done
4183 done
4184 done
4186 done
4192 done
4193 done
4196 done
4197 done
4198 done
4200 done
4202 done
4203 done
4204 done
no data in 4205
4210 done
4211 done
4213 done
4215 done
4216 done
4217 done
no data in 4221
4222 done
4226 done
4229 done
4230 done
4231 done
no data in 4232
no data in 4233
4234 done
4236 done
no data in 4239
4240 done
no data in 4241
no data in 4242
4243 done
4246 done
4248 done
4253 done
no data in 4255
4257 done
4259 done
no data in 4260
no data in 4262
4266 done
4269 done
4271 done
4272 done
4274 done
4276 done
4278 done
4279 done
4283 done
4284 done
4288 done
4289 done
4290 done
4291 done
4293 done
4294 done
4296 done
4297 done
4300 done
4301 done
4302 done
4304 done
no data in 4305
4306 done
4309 done
4310 done
4311 done
no data in 4313
4314 done
4320 done
4321 done
4327 done
no data in 4331
4333 done
4344 done
4347 done
no data in 4350
4360 done
4364 done
no data in 4366
4369 done
4464 done
4506 done
4507 done
4510 done
no data in 4513
4514 done
4517 done
no data in 4518
no data in 4521
4522 done
4523 done
4525 done
no data in 4526
4527 done
4528 done
4530 done
4536 done
no data in 4537
4538 done
4540 done
4545 done
4551 done
4555 done
4567 done
4581 done
no data in 4586
4599 done
4616 done
4622 done
4631 done
no data in 4636
4638 done
4648 done
4658 done
4665 done
4666 done
no data in 4668
4678 done
4679 done
4682 done
4692 done
4699 done
4703 done
4709 done
4720 done
4721 done
4733 done
4739 done
4749 done
4750 done
4759 done
no data in 4763
4769 done
4771 done
4772 done
4773 done
4774 done
4775 done
no data in 4790
no data in 4791
no data in 4793
4799 done
4801 done
no data in 4802
4808 done
4809 done
4810 done
4812 done
no data in 4834
no data in 4835
no data in 4836
no data in 4838
no data in 4839
4840 done
4841 done
4842 done
4843 done
no data in 4844
4852 done
no data in 4854
4858 done
4860 done
no data in 4861
4862 done
4865 done
4867 done
4869 done
4874 done
no data in 4879
4883 done
no data in 4884
no data in 4887
no data in 4893
no data in 4898
no data in 4899
4902 done
no data in 4907
4922 done
no data in 4923
no data in 4930
no data in 4933
4938 done
4949 done
4950 done
4951 done
4952 done
4953 done
no data in 4959
4965 done
4966 done
no data in 4970
no data in 4985
5012 done
5024 done
no data in 5028
no data in 5035
5040 done
5046 done
5055 done
5057 done
5058 done
no data in 5065
5067 done
5071 done
no data in 5078
5092 done
5095 done
no data in 5096
5097 done
5103 done
5105 done
5111 done
no data in 5113
no data in 5118
no data in 5120
5123 done
no data in 5124
no data in 5136
no data in 5142
5147 done
no data in 5151
no data in 5154
no data in 5158
no data in 5168
no data in 5169
no data in 5178
no data in 5181
no data in 5184
no data in 5187
no data in 5189
no data in 5198
no data in 5209
no data in 5212
no data in 5217
5218 done
no data in 5220
5313 done
5322 done
5348 done
5370 done
5401 done
5466 done
5471 done
5528 done
5575 done
5576 done
5578 done
5587 done
5595 done
5598 done
5612 done
5669 done
5671 done
5684 done
5687 done
5692 done
5711 done
5722 done
5760 done
no data in 5770
5774 done
5794 done
5812 done
5819 done
no data in 5860
5875 done
no data in 5899
6159 done
no data in 6211
6236 done
no data in 6311
6350 done
6359 done
6361 done
no data in 6371
6376 done
6389 done
6407 done
6417 done
6440 done
6452 done
6461 done
6467 done
no data in 6478
6486 done
no data in 6487
6495 done
6512 done
6515 done
6521 done
6523 done
6536 done
6550 done
no data in 6560
6562 done
6565 done
6572 done
6573 done
6585 done
6595 done
6600 done
6608 done
6610 done
6635 done
6636 done
6644 done
6668 done
6673 done
6675 done
6680 done
6701 done
6709 done
6744 done
6752 done
6800 done
6804 done
6856 done
6969 done
6972 done
6995 done
7045 done
7085 done
no data in 7101
7110 done
7229 done
no data in 7273
7321 done
7364 done
7423 done
7425 done
7454 done
7526 done
7597 done
7604 done
7610 done
7630 done
7634 done
7655 done
7671 done
7699 done
7709 done
7735 done
7753 done
7868 done
7884 done
7918 done
7974 done
7994 done
8004 done
8019 done
8032 done
8051 done
8105 done
8175 done
no data in 8180
8230 done
8314 done
8322 done
8325 done
no data in 8370
8378 done
8405 done
8424 done
8429 done
8454 done
8457 done
8620 done
8642 done
8774 done
8793 done
no data in 8794
no data in 8802
no data in 8804
no data in 8806
8855 done
8862 done
8904 done
8905 done
8915 done
8916 done
8938 done
8940 done
no data in 8987
9011 done
no data in 9025
no data in 9038
9056 done
9058 done
9071 done
9081 done
9086 done
9100 done
9345 done
no data in 9647
9785 done
10178 done
10257 done
10259 done
10276 done
no data in 10281

no data in 10282
10283 done
10284 done
10285 done
10293 done
10296 done
no data in 10304
no data in 10305
10308 done
10331 done
10333 done
no data in 10340
10353 done
10360 done
10361 done
10370 done
10395 done
10396 done
10530 done
10551 done
10598 done
10611 done
10612 done
10617 done
10625 done
10627 done
no data in 10628
10630 done
10632 done
10635 done
no data in 10647
10649 done
10653 done
10654 done
10657 done
no data in 10660
10678 done
10687 done
10694 done
10739 done
10746 done
no data in 10749
10804 done
10830 done
10836 done
10847 done
10877 done
10915 done
10921 done
10923 done
10925 done
10926 done
10930 done
10938 done
10941 done
10943 done
no data in 10956
10988 done
no data in 10998
11004 done
11010 done
11011 done
no data in 11060
11076 done
11080 done
11087 done
11133 done
11148 done
no data in 11149
no data in 11154
11176 done
11249 done
11250 done
11251 done
11252 done
11255 done
11282 done
11287 done
11289 done
11293 done
11331 done
11339 done
11396 done
11408 done
11447 done
11501 done
11518 done
11523 done
11525 done
11532 done
no data in 11537
no data in 11541
no data in 11542
no data in 11550
11552 done
11568 done
11576 done
11577 done
11585 done
11631 done
11633 done
no data in 11666
11708 done
11761 done
11767 done
11772 done
11777 done
11783 done
11798 done
11829 done
11858 done
11859 done
11863 done
11888 done
11889 done
11893 done
11902 done
11906 done
11919 done
11925 done
11928 done
11930 done
11931 done
no data in 11934
11935 done
11936 done
11942 done
11947 done
no data in 11948
11968 done
no data in 11995
12004 done
12009 done
12011 done
12014 done
12030 done
12035 done
12037 done
12046 done
12111 done
12240 done
12252 done
no data in 12297
no data in 12338
12384 done
12486 done
12493 done
12494 done
no data in 12495
12497 done
12501 done
12502 done
no data in 12524
12534 done
12535 done
12550 done
12552 done
12611 done
12629 done
12630 done
12631 done
no data in 12640
no data in 12656
12662 done
12664 done
12666 done
no data in 12676
12716 done
12718 done
12720 done
no data in 12722
12726 done
12738 done
12739 done
12741 done
12768 done
12779 done
no data in 12782
no data in 12805
no data in 12822
12845 done
12847 done
12856 done
12880 done
12928 done
12936 done
12938 done
12946 done
12948 done
12949 done
no data in 12950
no data in 12956
12959 done
12960 done
12967 done
12983 done
12990 done
12992 done
13004 done
13012 done
13014 done
13019 done
no data in 13021
13065 done
13070 done
13072 done
13075 done
13097 done
no data in 13138
13145 done
13157 done
13160 done
13163 done
13167 done
13169 done
no data in 13177
13187 done
no data in 13207
no data in 13223
13233 done
13259 done
13292 done
13298 done
13300 done
13309 done
13362 done
13363 done
13369 done
13371 done
13381 done
no data in 13406
13417 done
13418 done
no data in 13429
13430 done
13434 done
no data in 13451
no data in 13463
13468 done
13496 done
13511 done
13530 done
13536 done
13626 done
13639 done
13647 done
no data in 13653
13661 done
13666 done
13681 done
13682 done
13685 done
13686 done
13695 done
13699 done
13700 done
13734 done
13735 done
13736 done
13737 done
13739 done
no data in 13740
no data in 13752
13761 done
13762 done
13763 done
13767 done
13771 done
13772 done
13773 done
13774 done
13799 done
13804 done
13805 done
13808 done
13826 done
13829 done
no data in 13834
13835 done
13837 done
no data in 13843
13847 done
13858 done
13861 done
13862 done
13863 done
13864 done
13867 done
no data in 13868
13869 done
13870 done
13873 done
13874 done
no data in 13880
13885 done
13889 done
13890 done
no data in 13891
13892 done
13893 done
13894 done
13897 done
13899 done
13900 done
13901 done
13904 done
no data in 13909
13917 done
no data in 13920
13922 done
13923 done
13925 done
no data in 13926
13927 done
13928 done
no data in 13929
no data in 13930
13931 done
13932 done
13933 done
13935 done
13937 done
no data in 13938
13939 done
13941 done
13942 done
13945 done
13950 done
13952 done
13954 done
13961 done
13962 done
13964 done
13965 done
13966 done
13967 done
13968 done
13974 done
13982 done
13987 done
13989 done
no data in 13990
13991 done
13992 done
no data in 13995
14005 done
14010 done
14015 done
14026 done
14028 done
no data in 14029
14031 done
no data in 14032
14033 done
14034 done
14035 done
14038 done
14039 done
no data in 14041
14042 done
14043 done
14044 done
no data in 14046
no data in 14048
14051 done
14052 done
14054 done
14056 done
14059 done
14079 done
14081 done
14082 done
14084 done
14085 done
14086 done
no data in 14087
14088 done
14089 done
no data in 14090
14091 done
no data in 14094
no data in 14098
no data in 14101
14112 done
14119 done
14122 done
14123 done
14124 done
14126 done
no data in 14128
14129 done
14138 done
14155 done
14158 done
no data in 14160
14162 done
14166 done
14179 done
14180 done
14181 done
14182 done
14183 done
14184 done
14185 done
14186 done
14188 done
14191 done
14199 done
14200 done
no data in 14201
no data in 14202
no data in 14203
14204 done
14206 done
14208 done
14217 done
no data in 14219
14230 done
14231 done
14232 done
14234 done
14235 done
14236 done
14257 done
14259 done
14260 done
no data in 14263
14267 done
14268 done
14276 done
14277 done
14282 done
14286 done
14295 done
14296 done
no data in 14298
14299 done
14300 done
14324 done
14325 done
14326 done
no data in 14330
14335 done
14339 done
14343 done
no data in 14351
14361 done
14373 done
14374 done
14388 done
14414 done
14419 done
14421 done
no data in 14423
14456 done
no data in 14460
14474 done
no data in 14475
14476 done
14477 done
14480 done
no data in 14493
no data in 14496
no data in 14498
14499 done
14507 done
14511 done
no data in 14517
no data in 14518
no data in 14539
no data in 14543
14563 done
no data in 14565
14567 done
14571 done
14574 done
14598 done
14603 done
14604 done
14620 done
no data in 14627
no data in 14629
14633 done
14653 done
14654 done
no data in 14660
14669 done
no data in 14676
14677 done
14679 done
14683 done
no data in 14684
no data in 14687
14688 done
14721 done
14728 done
no data in 14729
14730 done
14738 done
14743 done
14755 done
no data in 14758
14778 done
14786 done
14788 done
14790 done
14793 done
no data in 14794
14795 done
14796 done
14797 done
14798 done
14800 done
14803 done
14806 done
14807 done
14813 done
14814 done
14816 done
14817 done
14818 done
no data in 14819
14821 done
14822 done
14830 done
14831 done
14833 done
14835 done
14836 done
14837 done
14838 done
14840 done
14841 done
14842 done
14844 done
14845 done
14846 done
14848 done
14850 done
14851 done
14852 done
14854 done
14856 done
14857 done
14858 done
14860 done
14861 done
14862 done
14864 done
14865 done
14866 done
14869 done
14870 done
14872 done
no data in 14873
14874 done
14876 done
no data in 14878
14879 done
14880 done
14883 done
14884 done
14885 done
14889 done
14893 done
14894 done
14895 done
14896 done
14897 done
14900 done
14901 done
14902 done
14904 done
no data in 14912
no data in 14916
no data in 14920
no data in 14927
no data in 14933
no data in 14937
14943 done
no data in 14959
14960 done
14963 done
14967 done
14968 done
14969 done
14970 done
no data in 14971
no data in 14972
14973 done
14978 done
no data in 14984
no data in 14985
14986 done
14987 done
14988 done
14989 done
14991 done
15001 done
15004 done
no data in 15008
no data in 15016
no data in 15029
15033 done
15062 done
no data in 15075
no data in 15076
15077 done
15078 done
15079 done
no data in 15081
15088 done
15089 done
15090 done
15091 done
15092 done
15096 done
15111 done
15118 done
no data in 15119
15125 done
15139 done
15140 done
15141 done
15143 done
15152 done
15155 done
15158 done
15159 done
15161 done
15172 done
15182 done
15189 done
15191 done
15192 done
15197 done
15198 done
15232 done
15249 done
15258 done
15262 done
15263 done
15265 done
15271 done
no data in 15272
15274 done
15275 done
no data in 15276
15279 done
15280 done
no data in 15283
15284 done
no data in 15285
15286 done
no data in 15295
15297 done
no data in 15298
no data in 15301
15302 done
15306 done
no data in 15313
15319 done
no data in 15320
no data in 15321
no data in 15331
15332 done
15343 done
15344 done
no data in 15345
no data in 15346
15347 done
15349 done
15351 done

15352 done
15353 done
15354 done
15355 done
no data in 15365
15369 done
15377 done
15382 done
15388 done
15389 done
15391 done
15394 done
15401 done
15425 done
15431 done
15436 done
15442 done
15447 done
15451 done
15459 done
15460 done
15464 done
15466 done
15467 done
15469 done
15470 done
15475 done
15482 done
15494 done
no data in 15510
15511 done
15513 done
no data in 15518
15522 done
15530 done
15532 done
15541 done
15542 done
15543 done
15552 done
15554 done
15555 done
15556 done
15557 done
15559 done
15560 done
15561 done
15562 done
15569 done
15570 done
15571 done
15572 done
15573 done
15577 done
15579 done
15585 done
15586 done
no data in 15593
15595 done
15596 done
15597 done
15598 done
15601 done
15603 done
no data in 15605
15606 done
15607 done
15618 done
15619 done
15640 done
15645 done
15654 done
15659 done
no data in 15663
15676 done
15682 done
15691 done
15695 done
no data in 15697
no data in 15698
no data in 15719
15722 done
no data in 15725
15727 done
15728 done
no data in 15730
15735 done
no data in 15736
15745 done
15759 done
15763 done
15769 done
15773 done
15775 done
no data in 15781
15787 done
15823 done
15848 done
15857 done
no data in 15864
15865 done
no data in 15866
15869 done
15871 done
no data in 15872
15876 done
15880 done
15883 done
no data in 15888
15890 done
no data in 15894
no data in 15908
no data in 15914
no data in 15918
15920 done
15941 done
15942 done
no data in 15956
15973 done
15977 done
16016 done
16019 done
no data in 16027
16028 done
16030 done
16031 done
no data in 16032
16033 done
16035 done
16036 done
no data in 16038
16040 done
16045 done
16046 done
16047 done
16048 done
16049 done
16050 done
no data in 16051
no data in 16053
no data in 16055
no data in 16056
16057 done
16058 done
16059 done
no data in 16063
16064 done
no data in 16065
no data in 16076
16079 done
no data in 16080
no data in 16082
16084 done
16090 done
16093 done
16102 done
16105 done
16110 done
16112 done
16120 done
no data in 16121
no data in 16125
16126 done
16127 done
16129 done
16135 done
no data in 16137
16140 done
16146 done
16148 done
no data in 16149
16153 done
16154 done
16155 done
16157 done
16159 done
16161 done
16162 done
16168 done
16169 done
16170 done
16172 done
16176 done
16181 done
16186 done
16191 done
16192 done
16193 done
16195 done
16212 done
16214 done
no data in 16234
16236 done
no data in 16238
no data in 16244
no data in 16245
16246 done
16249 done
no data in 16252
16263 done
16265 done
16266 done
no data in 16267
no data in 16273
no data in 16275
16276 done
16279 done
16284 done
no data in 16285
16287 done
no data in 16288
no data in 16289
16294 done
16302 done
no data in 16305
16306 done
no data in 16308
16309 done
no data in 16310
16311 done
16312 done
16317 done
16318 done
16319 done
16325 done
no data in 16326
no data in 16327
16342 done
no data in 16344
no data in 16345
no data in 16347
no data in 16348
16349 done
16350 done
no data in 16356
no data in 16357
16358 done
no data in 16360
16361 done
no data in 16362
16363 done
no data in 16369
16370 done
16371 done
16375 done
16377 done
16378 done
16379 done
16380 done
16381 done
16382 done
16384 done
16385 done
16390 done
16392 done
16396 done
16398 done
16399 done
16401 done
no data in 16411
16413 done
16414 done
16417 done
16419 done
16420 done
16421 done
16427 done
16429 done
16432 done
16436 done
16438 done
16439 done
16441 done
16447 done
16450 done
16451 done
16452 done
16460 done
no data in 16481
16485 done
16487 done
16488 done
16489 done
16491 done
16493 done
16496 done
16499 done
16507 done
16508 done
16513 done
16516 done
no data in 16517
no data in 16518
16520 done
16525 done
16535 done
16536 done
16541 done
16545 done
16560 done
no data in 16562
16568 done
16574 done
16575 done
16576 done
16578 done
16579 done
16586 done
16591 done
16593 done
16594 done
16596 done
16598 done
16599 done
16600 done
16604 done
16606 done
16608 done
16609 done
16610 done
no data in 16611
16615 done
16621 done
no data in 16622
16630 done
no data in 16638
16645 done
16646 done
16647 done
16648 done
no data in 16650
no data in 16660
16661 done
no data in 16664
no data in 16666
no data in 16686
16726 done
16733 done
16743 done
16750 done
no data in 16757
16766 done
16783 done
16790 done
16795 done
16801 done
16807 done
no data in 16809
16825 done
no data in 16831
16876 done
no data in 16878
16879 done
16887 done
16894 done
16895 done
no data in 16898
16899 done
no data in 16907
16911 done
16937 done
16954 done
16973 done
no data in 16981
17012 done
no data in 17016
17021 done
17028 done
17031 done
17037 done
17043 done
17046 done
17048 done
17049 done
17051 done
17057 done
no data in 17075
17085 done
17089 done
17091 done
17093 done
no data in 17094
17095 done
no data in 17096
17098 done
17103 done
17116 done
17117 done
17118 done
17125 done
17126 done
17128 done
17129 done
17131 done
17133 done
17136 done
17138 done
17143 done
17144 done
17145 done
17146 done
17147 done
17150 done
17154 done
17160 done
17161 done
17162 done
17168 done
17170 done
17176 done
17179 done
17182 done
17187 done
17188 done
no data in 17194
17196 done
17213 done
17227 done
17229 done
17231 done
17238 done
17239 done
17244 done
no data in 17246
17249 done
no data in 17270
no data in 17274
17277 done
17278 done
no data in 17281
no data in 17285
17286 done
17287 done
17288 done
17303 done
no data in 17310
17320 done
no data in 17326
17327 done
17333 done
17339 done
no data in 17340
no data in 17342
17343 done
no data in 17344
17345 done
17350 done
17351 done
17353 done
17359 done
17367 done
17368 done
no data in 17369
no data in 17370
17371 done
17373 done
17374 done
17375 done
no data in 17376
no data in 17378
17379 done
17380 done
no data in 17381
17383 done
no data in 17384
17386 done
17388 done
17389 done
no data in 17391
17393 done
no data in 17399
no data in 17400
17402 done
no data in 17403
17405 done
17406 done
no data in 17407
17408 done
17409 done
no data in 17410
no data in 17411
17413 done
no data in 17414
17415 done
no data in 17416
17417 done
17419 done
17420 done
17421 done
17422 done
17423 done
17424 done
17426 done
17427 done
no data in 17432
17434 done
no data in 17436
17437 done
no data in 17439
17440 done
no data in 17442
no data in 17444
17445 done
17446 done
no data in 17447
17448 done
17449 done
17450 done
no data in 17451
17452 done
17454 done
17456 done
17465 done
17478 done
17480 done
17483 done
17484 done
no data in 17486
no data in 17490
no data in 17493
17495 done
17498 done
17506 done
17507 done
17508 done
no data in 17513
17516 done
no data in 17522
17524 done
17525 done
no data in 17526
no data in 17544
17545 done
no data in 17547
17555 done
17556 done
no data in 17577
17607 done
17628 done
no data in 17644
17649 done
no data in 17655
17657 done
17751 done
17752 done
no data in 17785
17789 done
no data in 17797
17798 done
17800 done
no data in 17815
17854 done
no data in 17889
no data in 17891
17894 done
no data in 17914
17915 done
17916 done
17917 done
no data in 17918
17919 done
17921 done
17923 done
no data in 17924
17928 done
17929 done
17930 done
17931 done
no data in 17932
17933 done
17934 done
17936 done
17937 done
no data in 17938
no data in 17939
17940 done
17941 done
no data in 17942
17943 done
17944 done
17945 done
17946 done
no data in 17950
17951 done
17952 done
no data in 17953
no data in 17958
17960 done
no data in 17961
17962 done
17963 done
17966 done
17968 done
17970 done
no data in 17971
17973 done
17974 done
17978 done
17979 done
no data in 17982
17983 done
no data in 17989
no data in 17990
17991 done
17992 done
no data in 17995
17998 done
18006 done
no data in 18023
18031 done
18034 done
18036 done
18037 done
18040 done
18050 done
18056 done
no data in 18057
18066 done
18067 done
18068 done
18069 done
18070 done
18071 done
18073 done
18078 done
no data in 18084
no data in 18086
18101 done
18102 done
18103 done
18104 done
no data in 18105
18131 done
18135 done
18158 done
18196 done
no data in 18205
18214 done
18233 done
18234 done
no data in 18238
18239 done
18240 done
18248 done
no data in 18255
no data in 18262
18292 done
no data in 18295
18297 done
no data in 18307
18329 done
18334 done
18335 done
18369 done
no data in 18393
18410 done

18413 done
18419 done
18432 done
18469 done
no data in 18498
no data in 18504
18557 done
no data in 18561
18565 done
no data in 18607
18622 done
18670 done
18693 done
18717 done
no data in 18735
no data in 18752
no data in 18759
no data in 18775
no data in 18785
no data in 18792
18805 done
no data in 18814
no data in 18817
18892 done
18893 done
no data in 18910
18929 done
18931 done
18939 done
18942 done
18943 done
no data in 18945
18948 done
18949 done
no data in 18950
18951 done
no data in 18953
no data in 18954
18955 done
no data in 18956
no data in 18958
no data in 18959
no data in 18960
18961 done
18962 done
no data in 18964
18966 done
18967 done
no data in 18968
no data in 18980
19031 done
19032 done
19034 done
19035 done
19038 done
19048 done
19059 done
no data in 19063
19071 done
19086 done
19097 done
19107 done
19108 done
19122 done
19123 done
no data in 19127
19148 done
19154 done
no data in 19157
19166 done
19172 done
19200 done
19225 done
19332 done
no data in 19345
no data in 19350
19388 done
no data in 19419
19501 done
19517 done
19544 done
19567 done
19594 done
19619 done
19626 done
no data in 19732
no data in 19739
no data in 19752
no data in 19767
19800 done
19813 done
19867 done
19874 done
19876 done
19912 done
no data in 19968
no data in 19982
19996 done
20018 done
20020 done
20037 done
no data in 20043
no data in 20065
no data in 20082
no data in 20099
no data in 20112
no data in 20113
no data in 20116
20133 done
no data in 20139
no data in 20141
20163 done
no data in 20170
no data in 20187
20213 done
no data in 20217
20229 done
20263 done
20306 done
no data in 20320
20340 done
no data in 20345
20375 done
20378 done
20381 done
20488 done
no data in 20493
no data in 20519
no data in 20552
no data in 20558
no data in 20580
no data in 20592
no data in 20594
no data in 20597
no data in 20602
no data in 20603
no data in 20610
no data in 20625
no data in 20626
no data in 20630
no data in 20632
no data in 20633
no data in 20634
no data in 20635
no data in 20636
no data in 20641
no data in 20642
no data in 20643
20646 done
no data in 20647
no data in 20648
no data in 20650
no data in 20651
no data in 20652
no data in 20653
no data in 20655
no data in 20656
no data in 20657
no data in 20658
no data in 20662
no data in 20666
no data in 20667
no data in 20675
no data in 20676
no data in 20677
no data in 20678
20679 done
no data in 20680
no data in 20682
no data in 20683
no data in 20684
no data in 20685
no data in 20687
no data in 20689
no data in 20690
no data in 20691
no data in 20692
no data in 20693
no data in 20694
no data in 20695
no data in 20696
no data in 20697
no data in 20698
no data in 20699
no data in 20701
no data in 20702
no data in 20703
no data in 20705
no data in 20706
no data in 20710
no data in 20711
no data in 20713
no data in 20715
no data in 20716
no data in 20717
no data in 20719
no data in 20722
no data in 20723
no data in 20724
no data in 20725
no data in 20727
no data in 20728
no data in 20730
no data in 20737
no data in 20738
no data in 20741
no data in 20742
no data in 20744
no data in 20745
no data in 20746
no data in 20747
20772 done
20868 done
20887 done
no data in 20893
no data in 20996
no data in 20997
21068 done
no data in 21119
no data in 21120
no data in 21121
no data in 21122
no data in 21124
no data in 21125
no data in 21132
no data in 21136
no data in 21137
no data in 21138
no data in 21139
no data in 21141
no data in 21143
no data in 21144
no data in 21145
no data in 21146
no data in 21150
no data in 21151
no data in 21152
no data in 21154
no data in 21156
no data in 21157
no data in 21158
no data in 21159
no data in 21161
no data in 21162
no data in 21163
21164 done
no data in 21165
no data in 21166
no data in 21167
no data in 21168
no data in 21169
no data in 21171
no data in 21173
no data in 21177
no data in 21178
no data in 21179
no data in 21180
no data in 21181
no data in 21182
no data in 21183
no data in 21188
no data in 21189
no data in 21190
no data in 21191
no data in 21192
no data in 21193
no data in 21195
no data in 21196
no data in 21197
no data in 21198
no data in 21199
no data in 21200
no data in 21202
no data in 21203
no data in 21204
no data in 21205
no data in 21206
no data in 21207
no data in 21212
no data in 21214
21215 done
no data in 21216
no data in 21217
no data in 21218
no data in 21219
no data in 21220
no data in 21222
no data in 21223
no data in 21224
no data in 21225
no data in 21226
no data in 21227
no data in 21228
no data in 21229
no data in 21230
no data in 21231
no data in 21232
no data in 21237
no data in 21238
no data in 21239
no data in 21240
no data in 21242
no data in 21243
no data in 21246
no data in 21247
no data in 21249
no data in 21250
no data in 21251
no data in 21252
no data in 21257
no data in 21258
no data in 21260
21261 done
no data in 21263
no data in 21265
no data in 21266
no data in 21267
no data in 21268
no data in 21269
no data in 21270
no data in 21271
no data in 21273
no data in 21275
no data in 21276
no data in 21278
no data in 21280
no data in 21281
no data in 21285
no data in 21287
no data in 21289
no data in 21294
no data in 21295
no data in 21296
no data in 21297
no data in 21298
no data in 21299
no data in 21300
no data in 21301
no data in 21302
no data in 21303
no data in 21304
no data in 21305
no data in 21307
no data in 21308
no data in 21309
no data in 21310
no data in 21311
no data in 21313
no data in 21314
no data in 21315
no data in 21317
no data in 21319
no data in 21320
no data in 21321
no data in 21322
no data in 21323
no data in 21324
no data in 21325
no data in 21326
no data in 21328
no data in 21329
no data in 21330
no data in 21331
no data in 21332
no data in 21333
no data in 21334
no data in 21335
no data in 21336
no data in 21337
no data in 21338
no data in 21339
no data in 21340
21345 done
no data in 21367
21371 done
no data in 21372
no data in 21379
no data in 21394
no data in 21397
no data in 21413
no data in 21414
no data in 21435
no data in 21442
no data in 21444
no data in 21456
21486 done
no data in 21487
21488 done
no data in 21490
no data in 21491
no data in 21493
no data in 21495
21498 done
no data in 21504
no data in 21515
21533 done
no data in 21534
no data in 21541
no data in 21546
no data in 21547
21553 done
no data in 21555
21572 done
21596 done
no data in 21611
no data in 21645
no data in 21867
21871 done
21877 done
21878 done
21881 done
21882 done
no data in 21908
21921 done
21925 done
no data in 21933
no data in 21948
no data in 21949
no data in 21955
no data in 21957
no data in 21962
no data in 21963
no data in 21964
no data in 21965
no data in 21966
no data in 21968
no data in 21974
no data in 21975
no data in 21980
no data in 21988
no data in 21989
no data in 21990
no data in 21992
no data in 21994
no data in 21995
no data in 21997
no data in 21998
no data in 22000
no data in 22001
no data in 22004
no data in 22005
no data in 22006
no data in 22007
no data in 22008
no data in 22020
no data in 22022
no data in 22037
no data in 22045
no data in 22051
no data in 22052
22077 done
22079 done
22081 done
22103 done
22124 done
22125 done
22158 done
22186 done
22188 done
22189 done
22196 done
22203 done
22242 done
22287 done
22291 done
22311 done
22342 done
22404 done
22405 done
22416 done
22421 done
22422 done
22449 done
22568 done
no data in 22584
22631 done
22723 done
22724 done
22725 done
22750 done
no data in 22756
no data in 22848
no data in 22849
no data in 22850
no data in 22873
no data in 22878
no data in 22977

In [6]:
df1.head()

,lp_id,id,name,manager,managerId,vintageYear,regions,sectors,strategies,fundSize.amount,fundSize.currency,commitment.amount,commitment.currency
0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,"[Asia-Pacific, Latin America, Western Europe, ...","[Healthcare, TMT]",[Fund of Funds / Co-Investment],356190000.0,USD,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,4747,CITIC Capital China Mezzanine Fund Limited,CITIC Capital,8890,2005.0,[Asia-Pacific],"[Consumer Goods, Energy / Oil & Gas, Transport]",[Mezzanine / Debt],0.0,USD,0.0,USD
4,NaN,5424,Catterton Partners IV,L Catterton,7169,1999.0,[North America],"[Consumer Goods, Retail]",[Buyout / Corporate Private Equity],400000000.0,USD,0.0,USD

In [7]:
df1.tail()

,lp_id,id,name,manager,managerId,vintageYear,regions,sectors,strategies,fundSize.amount,fundSize.currency,commitment.amount,commitment.currency
76959,22725.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76960,NaN,60197,Breakout Ventures Fund II,Breakout Ventures,18425,2021.0,[North America],[Biotech / Life Science],[Venture Capital / Growth Equity],1.125000e+08,USD,NaN,NaN
76961,22750.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76962,NaN,55145,Brookfield Global Transition Fund,Brookfield Asset Management,5903,2021.0,"[Latin America, North America, Western Europe,...",[Energy / Oil & Gas],[Buyout / Corporate Private Equity],7.000000e+09,USD,20000000.0,USD
76963,NaN,60617,Genesia Venture Fund III,Genesia Ventures,19397,2022.0,[Asia-Pacific],"[Leisure, TMT]",[Venture Capital / Growth Equity],1.000000e+10,JPY,NaN,NaN

In [8]:
df1.lp_id.fillna(method='ffill', inplace = True)

In [10]:
df1.shape

(76964, 13)

In [11]:
 df1['lp_id'] = df1['lp_id'].apply(np.int64)

In [12]:
df1.tail()

,lp_id,id,name,manager,managerId,vintageYear,regions,sectors,strategies,fundSize.amount,fundSize.currency,commitment.amount,commitment.currency
76959,22725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76960,22725,60197,Breakout Ventures Fund II,Breakout Ventures,18425,2021.0,[North America],[Biotech / Life Science],[Venture Capital / Growth Equity],1.125000e+08,USD,NaN,NaN
76961,22750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76962,22750,55145,Brookfield Global Transition Fund,Brookfield Asset Management,5903,2021.0,"[Latin America, North America, Western Europe,...",[Energy / Oil & Gas],[Buyout / Corporate Private Equity],7.000000e+09,USD,20000000.0,USD
76963,22750,60617,Genesia Venture Fund III,Genesia Ventures,19397,2022.0,[Asia-Pacific],"[Leisure, TMT]",[Venture Capital / Growth Equity],1.000000e+10,JPY,NaN,NaN

In [13]:
df1.lp_id.nunique()

3166

In [20]:
df1.dropna(thresh=11, axis=0, inplace = True)

In [21]:
df1 = df1.explode('regions').explode('sectors').explode('strategies')

In [23]:
df1.tail()

,lp_id,id,name,manager,managerId,vintageYear,regions,sectors,strategies,fundSize.amount,fundSize.currency,commitment.amount,commitment.currency
76962,22750,55145,Brookfield Global Transition Fund,Brookfield Asset Management,5903,2021.0,Middle East/Africa,Energy / Oil & Gas,Buyout / Corporate Private Equity,7.000000e+09,USD,20000000.0,USD
76962,22750,55145,Brookfield Global Transition Fund,Brookfield Asset Management,5903,2021.0,Asia-Pacific,Energy / Oil & Gas,Buyout / Corporate Private Equity,7.000000e+09,USD,20000000.0,USD
76962,22750,55145,Brookfield Global Transition Fund,Brookfield Asset Management,5903,2021.0,Central/Eastern Europe,Energy / Oil & Gas,Buyout / Corporate Private Equity,7.000000e+09,USD,20000000.0,USD
76963,22750,60617,Genesia Venture Fund III,Genesia Ventures,19397,2022.0,Asia-Pacific,Leisure,Venture Capital / Growth Equity,1.000000e+10,JPY,NaN,NaN
76963,22750,60617,Genesia Venture Fund III,Genesia Ventures,19397,2022.0,Asia-Pacific,TMT,Venture Capital / Growth Equity,1.000000e+10,JPY,NaN,NaN

In [24]:
df1.duplicated().sum()

0

In [26]:
df1.to_csv('buyouts_lp_csv/lp_commitments.csv')

In [2]:
df2 = pd.read_csv('buyouts_lp_csv/lp_commitments.csv')

In [3]:
df2.head()

,Unnamed: 0,lp_id,id,name,manager,managerId,vintageYear,regions,sectors,strategies,fundSize.amount,fundSize.currency,commitment.amount,commitment.currency
0,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Asia-Pacific,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN
1,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Asia-Pacific,TMT,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN
2,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Latin America,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN
3,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Latin America,TMT,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN
4,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Western Europe,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN

In [5]:
df2.tail(10)

,Unnamed: 0,lp_id,id,name,manager,managerId,vintageYear,regions,sectors,strategies,fundSize.amount,fundSize.currency,commitment.amount,commitment.currency
243977,76958,22724,60197,Breakout Ventures Fund II,Breakout Ventures,18425,2021.0,North America,Biotech / Life Science,Venture Capital / Growth Equity,1.125000e+08,USD,NaN,NaN
243978,76960,22725,60197,Breakout Ventures Fund II,Breakout Ventures,18425,2021.0,North America,Biotech / Life Science,Venture Capital / Growth Equity,1.125000e+08,USD,NaN,NaN
243979,76962,22750,55145,Brookfield Global Transition Fund,Brookfield Asset Management,5903,2021.0,Latin America,Energy / Oil & Gas,Buyout / Corporate Private Equity,7.000000e+09,USD,20000000.0,USD
243980,76962,22750,55145,Brookfield Global Transition Fund,Brookfield Asset Management,5903,2021.0,North America,Energy / Oil & Gas,Buyout / Corporate Private Equity,7.000000e+09,USD,20000000.0,USD
243981,76962,22750,55145,Brookfield Global Transition Fund,Brookfield Asset Management,5903,2021.0,Western Europe,Energy / Oil & Gas,Buyout / Corporate Private Equity,7.000000e+09,USD,20000000.0,USD
243982,76962,22750,55145,Brookfield Global Transition Fund,Brookfield Asset Management,5903,2021.0,Middle East/Africa,Energy / Oil & Gas,Buyout / Corporate Private Equity,7.000000e+09,USD,20000000.0,USD
243983,76962,22750,55145,Brookfield Global Transition Fund,Brookfield Asset Management,5903,2021.0,Asia-Pacific,Energy / Oil & Gas,Buyout / Corporate Private Equity,7.000000e+09,USD,20000000.0,USD
243984,76962,22750,55145,Brookfield Global Transition Fund,Brookfield Asset Management,5903,2021.0,Central/Eastern Europe,Energy / Oil & Gas,Buyout / Corporate Private Equity,7.000000e+09,USD,20000000.0,USD
243985,76963,22750,60617,Genesia Venture Fund III,Genesia Ventures,19397,2022.0,Asia-Pacific,Leisure,Venture Capital / Growth Equity,1.000000e+10,JPY,NaN,NaN
243986,76963,22750,60617,Genesia Venture Fund III,Genesia Ventures,19397,2022.0,Asia-Pacific,TMT,Venture Capital / Growth Equity,1.000000e+10,JPY,NaN,NaN

In [7]:
df2[df2.lp_id == 4186].nunique()

Unnamed: 0             14
lp_id                   1
id                     14
name                   14
manager                12
managerId              12
vintageYear            12
regions                 6
sectors                 6
strategies              3
fundSize.amount        13
fundSize.currency       2
commitment.amount       3
commitment.currency     1
dtype: int64

In [2]:
dfcommitments = pd.read_csv('buyouts_lp_csv/lp_commitments.csv')

In [3]:
dfcommitments.head()

,Unnamed: 0,lp_id,id,name,manager,managerId,vintageYear,regions,sectors,strategies,fundSize.amount,fundSize.currency,commitment.amount,commitment.currency
0,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Asia-Pacific,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN
1,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Asia-Pacific,TMT,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN
2,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Latin America,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN
3,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Latin America,TMT,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN
4,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Western Europe,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN

In [4]:
np.random.seed(len(dfcommitments))
dfcommitments['commitment_id'] = np.random.randint(1, len(dfcommitments), dfcommitments.shape[0])

In [5]:
dfcommitments.head()

,Unnamed: 0,lp_id,id,name,manager,managerId,vintageYear,regions,sectors,strategies,fundSize.amount,fundSize.currency,commitment.amount,commitment.currency,commitment_id
0,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Asia-Pacific,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,215027
1,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Asia-Pacific,TMT,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,195565
2,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Latin America,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,181373
3,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Latin America,TMT,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,125752
4,1,3,60421,Greenspring Global Partners V,StepStone Group,7045,2011.0,Western Europe,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,88550

In [6]:
dfcommitments.rename(columns={'id':'fund_id', 'name':'fund_name', 'manager':'fund_manager', 
                             'managerId':'fund_manager_id', 'vintageYear':'vintage_year',
                             'fundSize.amount':'fund_size_amt', 'fundSize.currency':'fund_size_currency',
                             'commitment.amount':'commitment_amt',
                              'commitment.currency':'commitment_currency'}, inplace=True)

In [7]:
dfcommitments = dfcommitments[['commitment_id', 'lp_id', 'fund_id', 'fund_name', 'fund_manager_id', 'fund_manager',
                              'sectors', 'strategies', 'fund_size_amt', 'fund_size_currency', 'commitment_amt',
                              'commitment_currency', 'regions', 'vintage_year']]

In [8]:
dfcommitments.head()

,commitment_id,lp_id,fund_id,fund_name,fund_manager_id,fund_manager,sectors,strategies,fund_size_amt,fund_size_currency,commitment_amt,commitment_currency,regions,vintage_year
0,215027,3,60421,Greenspring Global Partners V,7045,StepStone Group,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,Asia-Pacific,2011.0
1,195565,3,60421,Greenspring Global Partners V,7045,StepStone Group,TMT,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,Asia-Pacific,2011.0
2,181373,3,60421,Greenspring Global Partners V,7045,StepStone Group,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,Latin America,2011.0
3,125752,3,60421,Greenspring Global Partners V,7045,StepStone Group,TMT,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,Latin America,2011.0
4,88550,3,60421,Greenspring Global Partners V,7045,StepStone Group,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,Western Europe,2011.0

In [10]:
dfcommitments['vintage_year'] = dfcommitments['vintage_year'].fillna(0)

In [11]:
dfcommitments['vintage_year'] = dfcommitments['vintage_year'].apply(int)

In [12]:
dfcommitments['vintage_year'] = dfcommitments['vintage_year'].apply(str)

In [13]:
dfcommitments.head()

,commitment_id,lp_id,fund_id,fund_name,fund_manager_id,fund_manager,sectors,strategies,fund_size_amt,fund_size_currency,commitment_amt,commitment_currency,regions,vintage_year
0,215027,3,60421,Greenspring Global Partners V,7045,StepStone Group,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,Asia-Pacific,2011
1,195565,3,60421,Greenspring Global Partners V,7045,StepStone Group,TMT,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,Asia-Pacific,2011
2,181373,3,60421,Greenspring Global Partners V,7045,StepStone Group,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,Latin America,2011
3,125752,3,60421,Greenspring Global Partners V,7045,StepStone Group,TMT,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,Latin America,2011
4,88550,3,60421,Greenspring Global Partners V,7045,StepStone Group,Healthcare,Fund of Funds / Co-Investment,356190000.0,USD,NaN,NaN,Western Europe,2011

In [15]:
dfcommitments.to_csv('buyouts_lp_csv/lp_commitments.csv', index=False)